body{
    background-color:#eee;
    overflow:hidden;
}
.centralizar{
    width:100vw;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color:#111;
    color:white;
    display: flex;
    width:500px;
    height:500px;
    flex-flow: column;
    border-radius:20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding:20px;
    font-family: myriad web pro;
}
